body {
    background-color: antiquewhite;
    background-image: url(./assets/geal-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Georgia" !important;
}

#daddyFlexBody {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#headerFlexBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
#logoFlexBox {
    display: flex;
    vertical-align: top;
}

#headerCollapsableButtonBox {
    width: 80%;
    margin: 25px;
    background: whitesmoke;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

#collapseMakers {
    display: flex;
    justify-content: center;
    margin-right: 7%;
}

#collapsable1, #collapsable2, #collapsable3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bar {
    width: 88%;
    position: relative;
    background: #3c7679;
    color: white;
    border-radius: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
    z-index: 1;
}

i {
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.symbol {
    position: relative;
}

#plus1, #plus2, #plus3 {
    display: block;
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    background: #74cbd3;
    color: black;
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

#minus1, #minus2, #minus3 {
    display: none;
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    background: black;
    color: white;
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

.data {
    width: 80%;
    background: fff;
    color: whitesmoke;
    margin: auto;
    font-size: 15px;
    text-align: left;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 15px 15px;
    position: relative;
    transition: 0.3s ease;
    top: -40px;
    height: 0px;
}

.data.show {
    padding-top: 40px;
    top: -25px;
    height: 270px;
}

.data1.show, .data2.show, .data3.show {
    background-color: whitesmoke;
    color: black;
}


input {
    -webkit-appearance: none; 
    display: none;
}

#check1:checked ~ #headerCollapsableButtonBox .bar1,
#check2:checked ~ #headerCollapsableButtonBox .bar2,
#check3:checked ~ #headerCollapsableButtonBox .bar3 {
    border-radius: 15px 15px 0 0;
    background: grey;
}

#check1:checked ~ #headerCollapsableButtonBox .bar #plus1,
#check2:checked ~ #headerCollapsableButtonBox .bar #plus2,
#check3:checked ~ #headerCollapsableButtonBox .bar #plus3 {
    display: none;
}

#check1:checked ~ #headerCollapsableButtonBox .bar #minus1,
#check2:checked ~ #headerCollapsableButtonBox .bar #minus2,
#check3:checked ~ #headerCollapsableButtonBox .bar #minus3 {
    display: block;
    color: black;
    background-color: #74cbd3;
}

.logo {
    width: 150px;
    margin-left: 15px;
    margin-top: 15px;
    height: auto;
    vertical-align: top;
}

#row1FlexBox, #row2FlexBox {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

#state-location-selector, #date-selector {
    display: flex;
    flex: 1.25 1 0px;
    justify-content: center;
}

#cloudLocationInfo, #appointmentOption {
    display: flex;
    flex: 2 1 0px;
    justify-content: center;
}

#state-menu, #location-menu {
    background-color: #3c7679 !important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 245px;
    text-align: left;
}

#row1Space {
    display: flex;
    flex: .2 1 0px;
}

#row2Space {
    display: flex;
    flex: .2 1 0px;
}

#state-location-container, #date-selector-container, #location-info-container, #appointment-info-container {
    display: flex;
}

/* TO DO: USE PX INSTEAD OF VH/VW!!  */
#tagImage {
    width: auto;
    height: 250px;
    z-index: 3;
    display: inline-block;
    position: relative;
}

#cloudImage {
    height: 300px;
    width: 450px;
    z-index: 1;
    display: inline-block;
    position: relative;
}

#dropDownContainer, #dateContainer {
    position: absolute;
    z-index: 4;
}

#locationContainer, #appointmentContainer {
    position: absolute;
    z-index: 2;
    width: 415px;
}

/* TO DO: CHANGE TO ABSOLUTE AND F WITH LOCATION SO IT WORKS */
#buttonsContainer {
    display: block;
    position: absolute;
    left: 105px;
    top: 45px;
}

#topDropDown {
    display: block;
    position: relative;
}

#bottomDropDown {
    display: block;
    position: relative;
    top: 85px;
}

#datePicker {
    position: absolute;
    top: 52px;
    left: 100px;
}

#datePicker label {
    margin-left: 10px;
}

#topDatePicker {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 250px;
    vertical-align: center;
}

#topDatePicker input {
    border-radius: 1px;
    background-color: #3c7679;
    color: white;
}

#bottomDatePicker {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 250px;
    top: 90px;
}

#bottomDatePicker input {
    border-radius: 1px;
    background-color: #3c7679;
    color: white;
}

#startDate, #endDate {
    display: flex;
    z-index: 4;
}

label {
    margin-bottom: 0px !important;
    font-size: 1.1rem;
}

#cloudTextBox {
    display: relative;
    margin-left: 50px;
    margin-top: 85px;
}

#cloudText {
    display: flex;
    flex-direction: column;
}

#cloudBottomBox {
    display: flex;
    position: absolute;
    top: 180px;
    flex-direction: column;
    justify-content: flex-end;
    display: none;
}

#locationName {
    font-weight: bold;
}

#appointmentHeader {
    font-weight: bold;
    display: none;
}

#cloudText p {
    margin-bottom: 5px;
}

.inset {
    margin-left: 20px;
}

#alertApt {
    transform: translateX(10px);
}

#formInstructions {
    transform: translateX(20px);
    display: none;
}

#alertBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#alertForm {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    left: 163px;
    width: 165px;
}

#formBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    display: none;
}

.form-group, #submitAlertBox {
    display: block;
    position: relative;
    width: 80px;
}

.btn.btn-default.active.toggle-off {
    background-color:grey ;
    color: white;
}

.btn.btn-primary.toggle-on {
    /* background-color:red ; */
    color: white;
}

#footerFlexBox {
    display: flex;
    justify-content: center;
}

#footer {
    position: absolute;
    bottom: 0px;
    font-family: "Georgia";
    font-size: .75rem;
}