body {
    background-color: antiquewhite;
    background-image: url(./assets/geal-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Georgia" !important;
}

#daddyFlexBody {
    display: flex;
    flex-direction: column;
}

#headerFlexBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logoFlexBox {
    display: flex;
}

#headerCollapsableButtonBox {
    width: 80%;
    margin: 25px;
    background: whitesmoke;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

#collapseMakers {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

#collapsable1, #collapsable2, #collapsable3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bar {
    width: 88%;
    position: relative;
    background: #3c7679;
    color: white;
    border-radius: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
    z-index: 1;
}

i {
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.symbol {
    position: relative;
}

#plus1, #plus2, #plus3 {
    display: block;
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    background: #74cbd3;
    color: black;
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

#minus1, #minus2, #minus3 {
    display: none;
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    background: black;
    color: white;
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

.data {
    width: 80%;
    background: fff;
    color: whitesmoke;
    margin: auto;
    font-size: 15px;
    text-align: left;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 15px 15px;
    position: relative;
    transition: 0.3s ease;
    top: -40px;
    height: 0px;
}

.data.show {
    padding-top: 40px;
    top: -25px;
    height: 270px;
}

.data1.show, .data2.show, .data3.show {
    background-color: whitesmoke;
    color: black;
}


input {
    -webkit-appearance: none; /*might need -webkit-appearance */
    display: none;
}

#check1:checked ~ #headerCollapsableButtonBox .bar1,
#check2:checked ~ #headerCollapsableButtonBox .bar2,
#check3:checked ~ #headerCollapsableButtonBox .bar3 {
    border-radius: 15px 15px 0 0;
    background: grey;
}

#check1:checked ~ #headerCollapsableButtonBox .bar #plus1,
#check2:checked ~ #headerCollapsableButtonBox .bar #plus2,
#check3:checked ~ #headerCollapsableButtonBox .bar #plus3 {
    display: none;
}

#check1:checked ~ #headerCollapsableButtonBox .bar #minus1,
#check2:checked ~ #headerCollapsableButtonBox .bar #minus2,
#check3:checked ~ #headerCollapsableButtonBox .bar #minus3 {
    display: block;
    color: black;
    background-color: #74cbd3;
}

.logo {
    width: 15vh;
    margin: 10%;
    height: auto;
}

#row1FlexBox, #row2FlexBox {
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: space-between;
}

#state-location-selector, #date-selector {
    display: flex;
    flex: 1.25 1 0px;
    justify-content: center;
}

#cloudLocationInfo, #appointmentOption {
    display: flex;
    flex: 2 1 0px;
    justify-content: center;
}

#state-menu, #location-menu {
    background-color: #3c7679 !important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#row1Space {
    display: flex;
    flex: .2 1 0px;
}

#row2Space {
    display: flex;
    flex: .2 1 0px;
}

#state-location-container, #date-selector-container, #location-info-container, #appointment-info-container {
    display: flex;
}

#tagImage {
    width: auto;
    height: 30vh;
    z-index: 3;
    display: inline-block;
    position: relative;
}

#cloudImage {
    height: 35vh;
    z-index: 1;
    display: inline-block;
    position: relative;
}

/* TO DO: DROP DOWN CONTAINERS SHIFT WHEN YOU CHANGE SCREEN HEIGHT
WHAT IF INSTEAD OF TRYING TO LAY THEM IN THE PREMADE WHITE TAGS
WE MAKE THE OUTLINE ON THE DIV ITSELF TO AVOID ALIGNMENT ISSUES? */

#dropDownContainer, #dateContainer {
    position: absolute;
    z-index: 4;
}

#locationContainer, #appointmentContainer {
    position: absolute;
    z-index: 2;
}

#buttonsContainer {
    display: block;
    position: relative;
}

#topDropDown {
    display: block;
    position: relative;
    top: 5.5vh;
    left: 115px;
}

#bottomDropDown {
    display: block;
    position: relative;
    top: 15.5vh;
    left: 115px;
}

#topDatePicker {
    display: block;
    position: relative;
    top: 6vh;
    left: 115px;
}

#topDatePicker input {
    border-radius: 1vh;
    background-color: #3c7679;
    color: white;
}

#bottomDatePicker {
    display: block;
    position: relative;
    top: 16.25vh;
    left: 115px;
}

#bottomDatePicker input {
    border-radius: 1vh;
    background-color: #3c7679;
    color: white;
}

#cloudTextBox {
    display: flex;
    margin-left: 49px;
    padding-right: 90px;
    margin-top: 9vh;
}

#cloudText {
    display: flex;
    flex-direction: column;
}

#locationName {
    font-weight: bold;
}

#cloudText p {
    margin-bottom: 5px;
}

.inset {
    margin-left: 20px;
}

#footerFlexBox {
    display: flex;
    justify-content: center;
}

#footer {
    position: absolute;
    bottom: 0px;
    font-family: "Georgia";
    font-size: 1.25vw;
}