body {
    background-color: antiquewhite;
    background-image: url(./assets/geal-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Georgia" !important;
}

body p {
    margin: 0;
}

#flexbox {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0px;
}

#buttonsFlexBox {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#state-menu, #location-menu {
    background-color: #3c7679 !important;
    height: 3.5vw;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6vw;
    width: 20vw;
}

#location-info, #tagContainer {
    display: flex;
    position: relative;
    z-index: 1;
    flex: 1 1 0px;
    font-family: "Georgia";
}

.container {
    display: inline-block;
    position: relative;
}

#luggage-tag {
    display: inline-block;
    position: absolute;
    size: contain;
    z-index: 1;
    height: 20vw;
}

#buttonsContainer {
    display: inline-block;
    position: relative;
    z-index: 2;
}

/* USING VIEW WIDTH FOR THE CLOUD IMAGE, CLOUD TEXT BOX, AND CLOUD TEXT ALLOWS
IT TO GROW AND SHRINK WITH THE PAGE SIZE */
#cloudImage {
    display: inline-block;
    position: absolute;
    src: url("./assets/cloud.png");
    opacity: 1;
    size: contain;
    position: center;
    z-index: 1;
    height: 25vw; 
}

#cloudTextBox {
    display: inline-block;
    margin-top: 8.5vw;
    margin-left: 6vw;
    margin-right: 9.5vw;
    z-index: 2;
}

#cloudText {
    opacity: 1;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-size: 1.3vw;
    z-index: 2;
    position: relative;
}

#locationName {
    font-weight: bold;
}

#locationAddress, #locationCityState, #locationPhone {
    margin-left: 2vw;
}

#horizontalFlexBox {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 5%;
}

/* THIS ALLOWS US TO LEAVE THE CENTRAL COLUMN AROUND THE PLANE UNCOVERED */
#space {
    display: flex;
    flex: .2 1 0px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.footer {
    margin: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: "Georgia";
    text-align: center;
    font-size: 1.25vw;
}

.logo {
    height: auto;
    width: 20vw;
}

/* TO DO: NEED TO CHANGE DROP DOWN BUTTONS SIZING TO BE DYNAMIC!!! */

.dropdown {
    display: flex;
    padding-bottom: 6.4vw;
    z-index: 2;
    top: 3.5vw;
    left: 8vw;
}

#footer-flexbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    display: block;
    font: 1rem 'Georgia';
}

input, label {
    margin: .4rem 0;
}

#datePicker {
    display: flex;
    margin-left: 10%;
    padding: 2vw;
    border-radius: 4vw;
    flex-direction: column;
    background-color: white;
    border: .5vw solid darkslategrey;
}

#datePicker label {
    font-weight: bold;
    font-size: .8rem;
}

#datePicker input {
    border-radius: 1vw;
}

#selectedLocation {
    margin-top: 2vw;
}